
.image-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    height: 460px;
    margin-top: 24px;
    width: 100%;
}



.payments .image.first {
    background-image: url(../img/decorativa-bag-mobile.jpg);
    background-size: cover;
}

.payments .image.second {
    background-image: url(../img/decorativa-passport-mobile.jpg);
    background-size: cover;
}

.payments .image.thirdy {
    background-image: url(../img/decorativa-people-mobile.jpg);
    background-size: cover;
    grid-column: 1 / 3;
}

@media screen and (min-width: 768px) {
    .payments .image.first {
        background-image: url(../img/decorativa-bag-tablet.jpg);
        background-size: cover;
    }

    .payments .image.second {
        background-image: url(../img/decorativa-passport-tablet.jpg);
        background-size: cover;
    }

    .payments .image.thirdy {
        background-image: url(../img/decorativa-people-tablet.jpg);
        background-size: cover;
    }
}

@media screen and (min-width: 1440px) {
    .payments .content-container {
        justify-content: space-between;
        display: flex;
    }

    .payments .image-content {
        width: 790px;
    }

    .payments .text-content {
        width: 360px;
    }
}